<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}
    {% block content %}{% endblock %}
  {% endblock body%}
</body>
</html>