{% extends "support/base.html"%}
{% block support-content %}
<h2>All questions</h2>
{% for question in questions %}
    <div class="support-question">
        <a href="{% url support.detail question.pk %}"><h3>{{question.title}}</h3></a>
        <p>{{question.text|linebreaksbr}}</p>
    </div>
{% endfor %}
{% endblock support-content %}
