{% extends "base.html" %}
{% block body %}
    {% block support-base %}
    <a href="{% url support.create %}">create questions</a>
    <p><a href="{% url support.all %}">back to all questions</a></p>
    {% block support-content %}
    {% endblock support-content %}
    {% endblock support-base %}
{% endblock body %}