{% extends "support/base.html"%}
{% block support-content %}
<div class="support-question">
    <h2>Create question</h2>
    <form action="" method="post">
        {% csrf_token%}
        {{form.as_p}}
        <button>Create</button>
    </form>
</div>
{% endblock support-content %}
