{% extends "support/base.html"%}
{% block support-content %}
<div class="support-question">
    <h2>{{question.title}}</h2>
    <p>{{question.text|linebreaksbr}}</p>

    <h3>Answers</h3>
    {% for answer in answers %}
        <p>{{answer.text|linebreaksbr}}</p>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token%}
        {{form.as_p}}
        <button>Add answer</button>
    </form>
</div>
{% endblock support-content %}
